
body {margin: 0;
background-color: rgb(0, 0, 0);}

.cw{
    background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
border: none;
padding-left: 10px;
max-height: 70px;
padding-right: 10px;
border-radius: 10px;
cursor: pointer;
margin-right: 8px;
margin-left: 8px;

vertical-align: bottom;
box-shadow: 0px 0px 5px rgb(0, 132, 255);
}
.cw:hover{
    transition: background-color .7s ,coler .5s ;

    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0px 0px 10px rgb(0, 132, 255);
}
.cw:active{
    padding-left: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 13px;
    box-shadow: 0px 0px 18px rgb(0, 110, 255);
}















.cw2{
    background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
border: none;
padding-left: 10px;
max-height: 70px;
padding-right: 10px;
border-radius: 10px;
cursor: pointer;
margin-right: 8px;
margin-left: 8px;

vertical-align: bottom;
box-shadow: 0px 0px 5px rgb(0, 132, 255);
}
.cw2:hover{
    transition: background-color .7s ,coler .5s ;

    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0px 0px 10px rgb(0, 132, 255);

}



.cw2:active{
    padding-left: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 13px;
    box-shadow: 0px 0px 18px rgb(0, 110, 255);
}

















.ct{
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}




.bur{
    background-color: rgb(14, 14, 14);
         display: flex;
         align-items: stretch;
         align-items:center;
         justify-content: center;
         height: 90px;
         box-shadow: 0px 0px 7px rgb(0, 0, 0);
}



.box:hover{
    background-color: rgb(1, 10, 18);
    
    box-shadow: 0px 0px 15px rgb(14, 86, 194);
}
.box{   background-color: rgb(1, 10, 15);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    height: 400px;
    margin-top: 168px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 40px;
    transition: box-shadow.5s ;
    box-shadow: 1px 1px 10px rgb(14, 86, 194);}






    .box-vid{   background-color: rgba(14, 14, 14, 0.966);
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 900px;
        margin-top: 40px;
        margin-bottom: 50px;
        margin-left: 60px;
        margin-right: 60px;
        border-radius: 25px;
        padding: 5px;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);}


        .box-vid:hover{
            background-color: rgb(0, 0, 0);
            transition: box-shadow .5s ;
            box-shadow: 0px 0px 15px rgb(14, 86, 194);
        }




        .mb{
            flex-grow: 1;
background-color: rgb(22, 22, 22);
       color: rgb(218, 218, 218);
       border: none;
       padding-top: 10px;
       padding-left: 20px;
       padding-right: 29px;
       padding-bottom: 10px;
       border-radius: 30px;
       box-shadow: 0px 0px 9px rgb(0, 0, 0);
       margin-top: 30px;
       margin-left: 5%;
       margin-right: 10%;
       margin-bottom: 30px;
       height: 200px;
       height: 100%;
       min-width: 220px;
       max-width: 460px;
       font-size: 30px;
       font-weight: bold;
        }

.mb:hover{
    transition: box-shadow .5s ;
    box-shadow: 0px 0px 10px rgb(14, 86, 194);
}

.mb2{
    
background-color: rgb(22, 22, 22);
color: rgb(218, 218, 218);
border: none;
padding-top: 10px;
padding-left: 20px;
padding-right: 29px;
padding-bottom: 5px;
border-radius: 30px;
box-shadow: 0px 0px 9px rgb(0, 0, 0);
margin-top: 30px;
margin-left: 5%;
margin-right: 10%;


font-size: 20px;
font-weight: bold;
}

.mb2:hover{
transition: box-shadow .5s ;
box-shadow: 0px 0px 10px rgb(14, 86, 194);
}






    .bh{
       
         padding-top: 80px;
         padding-bottom: 20px;
         height: 100%;
         background-color: rgba(255, 255, 255, 0.938);
         background-image: url('im/p21.jpg');
         background-size: cover;
         
         
    }

.tht1{
    color: rgb(255, 255, 255);
    font-size: 120px;
    font-family: 'Luminari', fantasy;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
}

.tht2{
     color: rgb(255, 255, 255);
    font-size: 40px;
    
    font-family:  monospace;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;

}








    .bb{
        background-color: rgb(20, 20, 20);
            
             border: none;
             width: 100%;
             height: 150px;
             box-shadow: 1px 1px 15px rgb(14, 86, 194);
             
    }
    

    .wbox{
        flex-grow: 1;
background-color: rgba(255, 255, 255, 0.562);
       color: rgb(0, 0, 0);
       border: none;
       padding-top: 10px;
       padding-left: 20px;
       padding-right: 29px;
       border-radius: 8px;
       
       min-height: 200px;
      
       min-width: 200px;
       max-width: 450px;
       font-size: 30px;
       font-weight: bold;


    }







    .man-box{
        background-color: rgb(1, 10, 15);
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px;
        margin-bottom: 190px;
        border-radius: 40px;
        box-shadow: 0px 0px 5px rgb(2, 81, 172); 
    }




    .man-box:hover{
        transition: box-shadow .5s ;
        box-shadow: 0px 0px 10px rgb(14, 86, 194);
    }



    .low-bur{
        display: flex;
                align-items: stretch;
                align-items:center;
                justify-content: center;
                height: 95px;
                margin: 10px;
                margin-bottom: 50px;
                border-radius: 20px;
                box-shadow: 0px 0px 5px rgb(2, 81, 172); 
                background-color: rgb(1, 10, 15);
    }


    .low-bur:hover{
        transition: box-shadow .5s ;
        box-shadow: 0px 0px 10px rgb(14, 86, 194);
    }


    .imag{
        background-image: url('im/pexels-chepté-cormani-1034568.jpg');
background-repeat: no-repeat;
background-size: cover;
  
    }


    .afila{
        background-color: rgba(14, 14, 14, 0.966);
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 900px;
        margin-top: 40px;
        margin-bottom: 50px;
        margin-left: 60px;
        margin-right: 60px;
        border-radius: 25px;
        padding: 5px;
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
    }


